html, body {
    margin: none;
    font-size: 100%;
    margin: 0px;
    max-height: 600px;
    max-width: 800px;
    overflow: auto;
    /*resize: horizontal;*/
}


* {
    font-size: 15px;
    border: none;
}

h1 {
    text-align: center;
    margin-bottom: 0px;
}

#boxes {
    display: flex;
    flex-flow: row wrap;
}

#input {
    outline: none;
    resize: none;
    background: transparent;
}

#input, #translation {
    flex: 1 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
}

#translation:not(:empty) {
    padding:5px;
}

#translate {
    flex: 3 auto;
    background-color: blue;
    color: white;
    font-weight: bold;
    height: 30px;
}

#languages {
    flex: 1 auto;
    outline: none;
}

#error {
    display: none;
    border: 2px dashed #800000;
    padding: 5px;
    text-align: center;
    background: #ff9999;
    margin: 10px;
}

#width{
    width: 500px;
    height: 0px;
    color: transparent;
}

